.container {
  display: grid;
  place-content: center;
  height: 100vh;

  .box-container {
    max-width: 1200px;
    display: flex;
    justify-content: center;

    text-align: left;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: -9rem;
    background: rgb(228, 228, 10);
    padding: 2rem;

    label {
      font-size: 1.3rem;
    }

    input {
      padding: 0.5rem 1rem;
      border-radius: 10px;
      outline: none;
      border: none;
    }

    button {
      padding: 0.3rem;
      border-radius: 10px;
    }
  }
}
