<div class="container">
  <form class="box-container">
    <label for="">Name</label>
    <input type="text" placeholder="Name" />
    <label for="">Email</label>
    <input type="text" placeholder="Email" />
    <label for="">Password</label>
    <input type="password" placeholder="Password" />
    <label for=""> Confirm Password</label>
    <input type="password" placeholder="Confirm Password" />
    <button class="pointer">Submit</button>
    <p>
      Already have an account?
      <span routerLink="/auth/login" class="pointer">login</span>
    </p>
  </form>
</div>
