/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.p1 {
  padding: 0.5rem;
}

.p2 {
  padding: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}
